POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name
DATABASE_URL=postgresql://your_postgres_user:your_postgres_password@localhost:5432/your_database_name
PORT=3000

SUPABASE_URL=your_project_url
SUPABASE_KEY=your_anon_key

LLM_BASE_URL=
LLM_API_KEY=
LLM_MODEL=

LLM_STUB=       # 0 = use real LLM, 1 = use stubbed LLM
LLM_ENABLED=    # true = enable LLM, false = disable LLM

EVAL_ENDPOINT=  # The endpoint to use for evaluation