POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name
DATABASE_URL=postgresql://your_postgres_user:your_postgres_password@localhost:5432/your_database_name
PORT=3000

SUPABASE_URL=your_project_url
SUPABASE_KEY=your_anon_key